<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html> 
<head> 
  <title>Django Bookmarks | 
    {% block title %}{% endblock %}</title> 
    <link rel="stylesheet" href="/site_media/style.css" type="text/css" /> 
    <script type="text/javascript" src="/site_media/jquery.js"></script>
    {% block external %}{% endblock %}
</head> 
<body> 
  <div id="nav"> 
    <a href="/">home</a> | 
    {% if user.is_authenticated %} 
      <a href={%url bookmarks.views.bookmark_save_page%}>submit</a> | 
      <a href={%url bookmarks.views.search_page%}>search</a> |
      <a href={%url bookmarks.views.user_page user.username%}> 
       {{ user.username }}</a> | 
      <a href={%url bookmarks.views.logout_page%}>logout</a> 
    {% else %}
      <a href={%url django.contrib.auth.views.login%}>login</a> | 
      <a href={%url bookmarks.views.register_page%}>register</a> 
    {% endif %} 
  </div>
  
    <h1>{% block head %}{% endblock %}</h1> 
  {% block content %}{% endblock %} 
</body> 
</html> 
